# Snippet for creating new generic LaTeX environments
snippet env "New LaTeX environment" b
\begin{$1}
    $2
\end{$1}$0
endsnippet
# Snippet for creating new generic LaTeX envrionment with {deliminator}
snippet env{  "New LaTeX environment" b
\begin{$1}{$2}
    $3
\end{$1}$0
endsnippet
