# Snippet for fractions
snippet ff "The LaTeX \frac{}{} command"
\frac{$1}{$2}$0
endsnippet

# Snippet for superscript
snippet uu "The LaTex superscript command"
{$1}^{$2} $0
endsnippet

# Snippet for superscript
snippet dd "The LaTex subscript command"
{$1}_{$2} $0
endsnippet
